{% load static %}
<html lang="en">
<head>
    <title>
        List View
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'semantic/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <style>
        main {
           padding-top: 1rem;
           padding-bottom: 3rem;
        }
    </style>
</head>
<body>
    <main  class="ui container">
        <h1 class="ui header center aligned">List View</h1>
        <form 
            class="centred ui form"
            hx-get="{% url 'search' %}" 
            hx-target="#search-results"
            hx-swap="outerHTML"
            hx-trigger="submit, input delay:0.3s"
        >
            <input type="text" name="search" placeholder="Search..." value="{{ search }}">
        </form>
        {% include 'search_results.html' %}
        {% include 'search_load_more.html' %}
    </main>
    <script type="text/javascript" src="{% static 'htmx.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>

</body>
</html>
