{% load static %}
<html lang="en">
<head>
    <title>
        List View
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'semantic/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <style>
        main {
           padding-top: 1rem;
           padding-bottom: 3rem;
        }
    </style>
</head>
<body>
    <main  class="ui container">
        <h1 class="ui header center aligned">List View</h1>
        <form class="ui form centred">
            <input 
                name="search"
                placeholder="Search..."
                type="text" 
                value="{{ search }}"
                hx-get="{% url 'search' %}" 
                hx-trigger="keyup changed delay:500ms" 
                hx-target="#search-results"
                hx-swap="outerHTML"
            />
        </form>
        {% include 'search_results.html' %}
        {% include 'search_load_more.html' %}
    </main>
    <script type="text/javascript" src="{% static 'htmx.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>

</body>
</html>
